<div>
    <div>
            <span class='status' [class.checked-in]="detail.checkedIn"></span> 
    </div>
    <div *ngIf='editing'>
        <input type="text" 
        [value]='detail.fullname'
        (input)="onNameChange(name.value)"
        #name>
    </div>
    <div *ngIf="!editing">
            {{ detail.fullname }}
    </div>
    <div class="date">
        Check in date: 
        {{ detail.checkInDate ? 
        ( detail.checkInDate | date: 'd MMMM y' | uppercase ) : 'Not checked in' }}
    </div>
    <div>
        Children: {{ detail.children?.length || 0 }}
    </div>
    <button class="btn btn-primary"
    (click)="toggleEdit()"> {{ editing ? 'Done' : 'Edit'}}</button>
    <button class="btn btn-danger"
    (click)="onRemove()"> Remove </button>
</div>
