<div class="app">
    <h3>Airplane Passengeres</h3>
    <ul>
        <li *ngFor="let passenger of passengers; let i  = index; ">
            {{ i }} : {{ passenger.fullname }}
        </li>
    </ul>

<!--     <h3>Airplane Passengeres</h3>
     The same structure as above, but there is under the hood of
*ngFor-->
<!--     <ul>
        <ng-template ngFor let-passenger let-i="index" [ngForOf]="passengers">
            <li>
            {{ i }} : {{ passenger.fullname }}
        </li>
        </ng-template>
    </ul> -->
</div>